# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
backend/.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for temporary files
backend/temp-uploads/
test_uploads/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
backend/**/.DS_Store

# Build output
dist/
build/
